# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# native
native/build/
native/build-*/
native/build-all*/
native/dist/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

media/
*.py
ig_0cb434d68fa9d*